torch~=1.13.1
scikit-learn~=0.24.1
numpy~=1.20.1
torchvision~=0.14.1
pathlib~=1.0.1
pytorchcv~=0.0.67
pillow~=8.2.0
lvis~=0.5.3
pycocotools~=2.0.6
setuptools~=52.0.0
matplotlib~=3.3.4
tqdm~=4.59.0
quadprog~=0.1.11
typing_extensions~=3.7.4.3
gdown~=4.6.4
torchmetrics~=0.11.4
psutil~=5.8.0
gputil~=1.4.0
wandb~=0.13.11